body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #003153 !important;
  color: aliceblue !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hero{
  background-image: url('/public/itsryannmurphy___bury_wudisf___.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size:cover ;
  height: 100vh;
  width: 100vw;
}
.dark-mode{
  /* background-color: #282c34;
  color:white */
}